asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
django-humanize
EasyProcess
entrypoint2
filelock
humanize
MouseInfo
mss
pillow
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
setuptools
sqlparse
tzdata
virtualenv